<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ConnectionStringName" value="AstonEngineerConsoleApp"/>
  </appSettings>
  <connectionStrings>
    <add name="AstonEngineerConsoleApp" connectionString="Data Source=DEV; Initial Catalog=AstonEngineer; user id=AstonEngineerSQL; password=Test2323" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>